.menu {
  display: block;
  text-indent: -9999px;
}

.menu::after, .menu::before, .menu > .center {
  content: '';
  display: block;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--color-quaternary);
}

.menu::before, .menu > .center{
  margin-bottom: 5px;
}