.card {
  padding: 15px;
}

.hashtag {
  height: 100%;
  background-color: var(--color-tertiary);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.hashtag li {
  background-color: var(--color-zero);
  display: flex;
  justify-content: center;
}

.hashtag > li:nth-child(2) {
  justify-content: space-between;
}

.hashtag > li:nth-child(2)::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: red;
  border-top-left-radius: 1.5px;
  border-top-right-radius: 1.5px;
}

.hashtag > li:nth-child(2)::after {
  content: '';
  width: 3px;
  height: 100%;
  background-color: red;
  border-top-left-radius: 1.5px;
  border-top-right-radius: 1.5px;
}

.hashtag > li:nth-child(5) {
  border: 3px solid red;
}